/* RESET */
* {
  margin: 0;
  padding: 0;
}

body {
  font-family: helvetica, sans-serif;
}

/* BOARD DESIGN */
/* Color palette: http://paletton.com/#uid=7060u0knYpBepzHj-sHrel1vEg6 */
.board__row {
  list-style: none;
  text-align: center;
}

.square {
  display: inline-block;
  width: 100px;
  height: 100px;
  margin: 5px;
  background: #f4f4f4;
  overflow: hidden;
}

/* Set up before and after states.
 * Before is X's (player),
 * After is O's (computer). */
.square::after,
.square::before {
  display: block;
  width: 100px;
  height: 100px;
  font-size: 100px;
  line-height: 100px;
  display: none;
}

.square::after {
  content: 'O';
  color: #CC4833;
}

.square::before {
  content: 'X';
  color: #236B7F;
}

/* TRIGGER DESIGN */
/* Basically, hide the radio button. */
.trigger {
  /*display: none;*/
}

/* INTERACTIVITY */
/* Start a counter to see how many moves have been made. */
body {
  counter-reset: moves;
}

/* TODO: REMOVE */
.todo-remove::after {
  content: "Moves: " counter(moves);
}

/* PLAYER INTERACTIVITY */
/* Begin by showing the user they can interact with the square. */
.square {
  cursor: pointer;
}

.square:hover,
.square:focus {
  background: #eee;
}

/* After a player has selected a square, display it as an 'X'.
 * And remove the ability to select it again. */
.t1:checked ~ .board .square--1,
.t2:checked ~ .board .square--2,
.t3:checked ~ .board .square--3,
.t4:checked ~ .board .square--4,
.t5:checked ~ .board .square--5,
.t6:checked ~ .board .square--6,
.t7:checked ~ .board .square--7,
.t8:checked ~ .board .square--8,
.t9:checked ~ .board .square--9 {
  cursor: default;
  background: #f4f4f4;
}

.t1:checked ~ .board .square--1::before,
.t2:checked ~ .board .square--2::before,
.t3:checked ~ .board .square--3::before,
.t4:checked ~ .board .square--4::before,
.t5:checked ~ .board .square--5::before,
.t6:checked ~ .board .square--6::before,
.t7:checked ~ .board .square--7::before,
.t8:checked ~ .board .square--8::before,
.t9:checked ~ .board .square--9::before {
  display: block;
  counter-increment: moves;
}

/* WIN STATES */
.game-over {
  display: none;
}

/* Human wins are easy */
.t2:checked ~ .t7:checked ~ .t6:checked ~ .game-over--human,
.t9:checked ~ .t5:checked ~ .t1:checked ~ .game-over--human,
.t4:checked ~ .t3:checked ~ .t8:checked ~ .game-over--human,
.t2:checked ~ .t9:checked ~ .t4:checked ~ .game-over--human,
.t7:checked ~ .t5:checked ~ .t3:checked ~ .game-over--human,
.t6:checked ~ .t1:checked ~ .t8:checked ~ .game-over--human,
.t2:checked ~ .t5:checked ~ .t8:checked ~ .game-over--human,
.t6:checked ~ .t5:checked ~ .t4:checked ~ .game-over--human {
  display: block;
}

/* COMPUTER BRAINS */
/* Order is important:
 * 2 7 6
 * 9 5 1
 * 4 3 8 */

/* MOVE 1 */

